.container{
    background-color: lightskyblue;
    border: 4px solid blue;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.item{
    background-color: pink;
    border: 4px solid red;
    width: 85px;
    height: 85px;
    text-align: center;
    

    
}